::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

.controls {
  position: relative;
  width: 100%;
  top: -32px;
  height: 32px;
  background-color: #333;

  .controls-btn {
    display: flex;

    > img {
      cursor: pointer;
    }
  }
}

.timeline {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  overflow: hidden;

  .timeline-time-canvas {
    position: absolute;
  }

  .timeline-scroller {
    position: absolute;
    top: 32px;
    bottom: 0px;
    width: 100%;
    overflow: auto;

    .timeline-tracks-panel {
      height: 100%;
      background: linear-gradient(#555 1px, transparent 1px) 0% 0% / 32px 32px repeat;
    }
  }
  .timeline-timeMark {
    position: absolute;
    margin-top: 16px;
    top: 0px;
    left: -8px;
    width: 16px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, transparent 8px, #f00 8px, #f00 9px, transparent 9px) 0% 0% / 16px 16px repeat-y;
  }
}
