::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cutscene-editor {
  position: relative;
  width: 100%;
  height: 100%;

  .cutscene-editor-left-panel {
    width: 25%;
  }

  .cutscene-editor-right-panel {
    width: 75%;
  }
}

.controls {
  position: relative;
  width: 100%;
  height: 32px;
  background-color: #333;

  .controls-btn {
    display: flex;

    > img {
      cursor: pointer;
    }
  }
}

.cutscene-group-panel {
  height: 32px;
  background-color: #232630;

  .cutscene-track-panel {
    height: 32px;
    background-color: #555861;
  }
}

.timeline {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #444;

  .timeline-time-canvas {
    position: absolute;
  }

  .timeline-scroller {
    position: absolute;
    top: 32px;
    bottom: 0px;
    width: 100%;
    overflow: auto;

    .timeline-group-panel {
      height: 32;

      .timeline-track-panel {
        height: 100%;
        background: gray;

        .timeline-action-clip {
          position: absolute;
          height: 31px;
          background-color: #88f;
          border: 0px;
          border-top: 1px solid #aaf;
          border-left: 1px solid #aaf;
          border-radius: 2px;
          overflow: hidden;
          user-select: none;

          .resize-left {
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 30px;
            cursor: w-resize;
          }

          .resize-right {
            position: absolute;
            top: 0;
            right: 0;
            width: 6px;
            height: 30px;
            cursor: e-resize;
          }
        }
      }
    }
  }
  .timeline-timeMark {
    position: absolute;
    margin-top: 16px;
    top: 0px;
    left: -8px;
    width: 16px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, transparent 8px, #f00 8px, #f00 9px, transparent 9px) 0% 0% / 16px 16px repeat-y;
  }
}
