::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cutscene-editor {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;

  .cutscene-editor-left-panel {
    width: 25%;
    height: 100%;
    background-color: #555861;
  }

  .cutscene-editor-right-panel {
    height: 100%;
    width: 75%;
  }
}

.controls {
  position: relative;
  width: 100%;
  height: 32px;
  background-color: #333;

  .controls-btn-line {
    height: 100%;
    color: rgb(179, 176, 176);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .controls-btn {
      cursor: pointer;
      :hover {
        color: rgb(255 255 255 / 1);
      }
    }
  }
}

.cutscene-group-panel {
  .cutscene-group-panel-item {
    padding: auto 8px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
  }

  .cutscene-track-panel {
    height: 32px;
    display: flex;
    align-items: center;
  }
}

.timeline {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #444;

  .timeline-time-canvas {
    position: absolute;
  }

  .timeline-scroller {
    position: absolute;
    top: 32px;
    bottom: 0px;
    width: 100%;
    overflow: auto;

    .timeline-group-panel {
      height: 32px;
      display: flex;
      align-items: center;
    }

    .timeline-track-panel {
      height: 32px;
      background: gray;
    }

    .timeline-action-clip {
      position: absolute;
      top: 0px;
      height: 31px;
      background-color: #88f;
      border: 0px;
      border-top: 1px solid #aaf;
      border-left: 1px solid #aaf;
      border-radius: 2px;
      overflow: hidden;
      user-select: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .resize-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 30px;
        cursor: w-resize;
      }

      .resize-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 6px;
        height: 30px;
        cursor: e-resize;
      }
    }
  }
  .timeline-timeMark {
    position: absolute;
    margin-top: 16px;
    top: 0px;
    left: -8px;
    width: 16px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, transparent 8px, #f00 8px, #f00 9px, transparent 9px) 0% 0% / 16px 16px repeat-y;
  }
}
